.formPage{
    margin-bottom: 10%;
    margin-top: 7%;
  }
  .Mailing{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
  
  input[type="text"],input[type="mail"]{
      width: 80%;
      padding: 12px;
      border: 1px solid darkgray;
      border-radius: 5px;
      margin: 10px;
  }
  
  label[for="fname"],label[for="lname"],label[for="mail"]{
    margin-left: 12px;
  }
  
  input[type="submit"]{
    padding: 10px 35px;
    margin-left: 12px;
    background-color: #549bf7;
    border-radius: 5px;
    color: #fefcfb;
  }
  
  form{
    margin-top: 40px;
    margin-left: 20%;
  }